<p class="title">Danh sách khuyến mãi</p>
<div class="input-field-search">
  <label class="lable-search" for="">Trạng thái: </label>
  <select [(ngModel)]="selectedTrangThai" (change)="loadData()" class="input">
    <option [value]="3">Tất cả khuyến mãi</option>
    <option [value]="1">Hoạt động</option>
    <option [value]="0">Không hoạt động</option>
  </select>
</div>
<div class="header-container" style="margin-top: -100px;">
  <button (click)="openModal()" class="btn btn-primary add-product-button">Thêm khuyến mãi</button>
  <div class="search-container">
    <p>Tìm Kiếm:</p>
    <input type="text" (input)="searchTenVoucher()" class="input search-input"
      placeholder="Nhập tên khuyến mãi cần tìm..." [(ngModel)]="searchText" />
  </div>
</div>

<div class="table-container">
  <div class="table-scrollable">
    <table class="product-table">
      <thead>
        <tr>
          <th>STT</th>
          <th>Mã khuyến mãi</th>
          <th>Tên khuyến mãi</th>
          <th>Giá trị giảm</th>
          <th>Trạng thái</th>
          <th>Ngày tạo</th>
          <th>Ngày sửa</th>
          <th>Ngày bắt đầu</th>
          <th>Ngày kết thúc</th>
          <th colspan="2" style="text-align: center;">Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let khuyenmai of filteredKhuyenMais">
          <td>{{khuyenmai.id}}</td>
          <td>{{ khuyenmai.ma }}</td>
          <td>{{ khuyenmai.ten }}</td>
          <td>{{ khuyenmai.giaTriGiam }} {{ khuyenmai.hinhThucGiam ? 'VND' : '%' }} </td>
          <td>{{ khuyenmai.trangThai ? "Hoạt động" : "Không hoạt động" }}</td>
          <td>{{ khuyenmai.ngayTao }}</td>
          <td>{{ khuyenmai.ngaySua }}</td>
          <td>{{ khuyenmai.ngayBatDau }}</td>
          <td>{{ khuyenmai.ngayKetThuc }}</td>
          <td>
            <button (click)="showDetail(khuyenmai.id)" class="button btn-primary">Chi tiết</button>
            <button (click)="editKhuyenMai(khuyenmai.id)" class="button btn-primary">Sửa</button>
            <button (click)="loadSanPham(khuyenmai.id)" class="button btn-primary">Chọn sản phẩm</button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination-actions ">
    <!-- Pagination -->
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <!-- Nút Trang trước -->
        <li class="page-item" [class.disabled]="currentPage === 0">
          <button class="page-link" (click)="PreviousPage()" [disabled]="currentPage === 0">
            &laquo;
          </button>
        </li>
        <li class="page-item" *ngFor="let page of numberPages" [class.active]="currentPage === page">
          <button class="page-link" (click)="Page(page)">{{ page + 1 }}</button>
        </li>
        <!-- Nút Trang sau -->
        <li class="page-item" [class.disabled]="currentPage >= totalPages - 1">
          <button class="page-link" (click)="NextPage()" [disabled]="currentPage >= totalPages - 1">
            &raquo;
          </button>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Modal hiển thị chi tiết khuyến mãi -->
  <div class="modal-overlay" *ngIf="showModalDetail" (click)="closeModalDetail()">
    <div class="modal-box" (click)="$event.stopPropagation()">
      <button class="close-btn" (click)="closeModalDetail()">×</button>
      <p class="titleadd">Chi tiết Khuyến Mãi</p> <br> <br>

      <!-- Form hiển thị chi tiết khuyến mãi -->
      <form *ngIf="selectedKhuyenMai">
        <div class="input-row">
          <div class="input-field">
            <input type="text" class="input" [(ngModel)]="selectedKhuyenMai.ma" name="ma" readonly />
            <label for="ma">Mã khuyến mãi</label>
          </div>
          <div class="input-field">
            <input type="text" class="input" [(ngModel)]="selectedKhuyenMai.ten" name="ten" readonly />
            <label for="ten">Tên khuyến mãi</label>
          </div>
        </div>

        <div class="input-row">
          <div class="input-field">
            <input type="number" class="input" [(ngModel)]="selectedKhuyenMai.giaTriGiam" name="giaTriGiam" readonly />
            <label for="giaTriGiam">Giá trị giảm</label>
          </div>
          <div class="input-field">
            <input type="date" class="input" [(ngModel)]="selectedKhuyenMai.ngayBatDau" name="ngayBatDau" readonly />
            <label for="ngayBatDau">Ngày bắt đầu</label>
          </div>
        </div>

        <div class="input-row">
          <div class="input-field">
            <input type="text" class="input" [value]="selectedKhuyenMai.trangThai ? 'Hoạt động' : 'Không hoạt động'"
              style="width:185px;" readonly />
            <label for="trangThai">Trạng thái</label>
          </div>
          <div class="input-field">
            <input type="date" class="input" [(ngModel)]="selectedKhuyenMai.ngayKetThuc" name="ngayKetThuc" readonly />
            <label for="ngayKetThuc">Ngày kết thúc</label>
          </div>
        </div>

        <div class="input-row">

        </div>
      </form>
    </div>
  </div>
  <!-- Modal sửa khuyến mãi -->
  <div class="modal-overlay" *ngIf="showModalEdit" (click)="closeModalEdit()">
    <div class="modal-box" (click)="$event.stopPropagation()">
      <button class="close-btn" (click)="closeModalEdit()">×</button>
      <p class="titleadd">Sửa khuyến mãi</p> <br> <br>

      <!-- Form hiển thị chi tiết khuyến mãi và cho phép sửa -->
      <form (ngSubmit)="updateKhuyenMai()" #khuyenmaiForm="ngForm">
        <div class="input-row">
          <!-- <div class="input-field"> -->
          <!-- Trường ID là readonly -->
          <!-- <input type="text" class="input" [(ngModel)]="khuyenmaiEdit.id" name="id" readonly />
            <label for="id">Id</label>
          </div> -->
          <div class="input-field">
            <input type="text" class="input" [(ngModel)]="khuyenmaiEdit.ma" name="ma" required readonly />
            <label for="ma">Mã khuyến mãi</label>
            <div class="tooltip-error" *ngIf="errors.ma">
              Mã khuyến mãi không được để trống!
            </div>
          </div>
          <div class="input-field">
            <input type="text" class="input" [(ngModel)]="khuyenmaiEdit.ten" name="ten" [readonly]="checkNgay" required (click)="showCannotEditMessage('ten')"
              (input)="clearError('ten')" />
            <label for="ten">Tên khuyến mãi</label>
            <div class="tooltip-error" *ngIf="errors.ten">
              {{ errors.ten}}
            </div>
          </div>
        </div>

        <div class="input-row">

          <div class="input-field">
            <div style="display: flex; align-items: center;">
              <input type="text" class="input" [(ngModel)]="khuyenmaiEdit.giaTriGiam" [readonly]="checkNgay" name="giaTriGiam" required (click)="showCannotEditMessage('giaTriGiam')"
                (input)="clearError('giaTriGiam')" />
            </div>
            <label for="giaTriGiam">Giá trị giảm</label>
            <div class="tooltip-error" *ngIf="errors.giaTriGiam">
              {{ errors.giaTriGiam }}
            </div>
          </div>
          <div class="input-field">
            <input type="date" class="input" [(ngModel)]="khuyenmaiEdit.ngayBatDau" name="ngayBatDau" required
              (input)="clearError('ngayBatDau')" />
            <label for="ngayBatDau">Ngày bắt đầu</label>
            <div class="tooltip-error" *ngIf="errors.ngayBatDau">
              {{ errors.ngayBatDau}}
            </div>
          </div>
        </div>

        <div class="input-row">
          <div class="input-field">
            <select class="input" [(ngModel)]="khuyenmaiEdit.trangThai" name="trangThai" required style="width:185px;"
              (change)="clearError('trangThai')">
              <option [value]="1">Hoạt động</option>
              <option [value]="0">Không hoạt động</option>
            </select>
            <label for="trangThai">Trạng thái</label>
            <div class="tooltip-error" *ngIf="errors.trangThai">
              {{ errors.trangThai}}
            </div>
          </div>
          <div class="input-field">
            <input type="date" class="input" [(ngModel)]="khuyenmaiEdit.ngayKetThuc" name="ngayKetThuc" required (change)="onNgayKetThucChange()"
              (input)="clearError('ngayKetThuc')" />
            <label for="ngayKetThuc">Ngày kết thúc</label>
            <div class="tooltip-error" *ngIf="errors.ngayKetThuc">
              {{ errors.ngayKetThuc}}
            </div>
          </div>
        </div>



        <div class="button-container">
          <button type="submit" class="button btn-primary">Lưu thay đổi</button>
        </div>
      </form>
    </div>
  </div>
<!-- form thêm khuyến mãi -->
  <div class="modal-overlay" *ngIf="showModal" (click)="closeModal()">
    <div class="modal-box" (click)="$event.stopPropagation()">
      <button class="close-btn" (click)="closeModal()">×</button>
      <p class="titleadd">Thêm Khuyến Mãi</p> <br> <br>
      <form (ngSubmit)="addKhuyenMai()" #khuyenmaiForm="ngForm">
        <div class="input-row">
          <div class="input-field">
            <input type="text" class="input" [(ngModel)]="khuyenmai.ma" name="ma" autocomplete="off" required
              autocomplete="off" #ma="ngModel" (input)="clearError('ma')" />
            <label for="ma">Mã khuyến mãi</label>
            <div class="tooltip-error" *ngIf="errors.ma">
              {{ errors.ma}}
            </div>
          </div>
          <div class="input-field">
            <input type="text" class="input" [(ngModel)]="khuyenmai.ten" name="ten" required #ten="ngModel"
              (input)="clearError('ten')" />
            <label for="ten">Tên khuyến mãi</label>
            <div class="tooltip-error" *ngIf="errors.ten">
              {{ errors.ten}}
            </div>
          </div>
        </div>
        <div class="input-row">
          <div class="input-field">
            <div style="display: flex; align-items: center;">
              <input type="text" class="input" [(ngModel)]="khuyenmai.giaTriGiam" name="giaTriGiam" required
                (input)="clearError('giaTriGiam')" />
            </div>
            <label for="giaTriGiam">Giá trị giảm</label>
            <div class="tooltip-error" *ngIf="errors.giaTriGiam">
              {{ errors.giaTriGiam }}
            </div>
          </div>
          <div class="input-field">
            <input type="date" class="input" [(ngModel)]="khuyenmai.ngayBatDau" name="ngayBatDau" required
              (input)="clearError('ngayBatDau')" />
            <label for="ngayBatDau">Ngày bắt đầu</label>
            <div class="tooltip-error" *ngIf="errors.ngayBatDau">
              {{ errors.ngayBatDau }}
            </div>
          </div>
        </div>
        <div class="input-row">
          <div class="input-field">
            <select class="input" [(ngModel)]="khuyenmai.trangThai" name="trangThai" required style="width:185px;"
              (change)="clearError('trangThai')">
              <option [value]="1">Hoạt động</option>
              <option [value]="0">Không hoạt động</option>
            </select>
            <label for="trangThai">Trạng thái</label>
            <div class="tooltip-error" *ngIf="errors.trangThai">
              {{ errors.trangThai}}
            </div>
          </div>
          <div class="input-field">
            <input type="date" class="input" [(ngModel)]="khuyenmai.ngayKetThuc" name="ngayKetThuc" required
              (input)="clearError('ngayKetThuc')" />
            <label for="ngayKetThuc">Ngày kết thúc</label>
            <div class="tooltip-error" *ngIf="errors.ngayKetThuc">
              {{ errors.ngayKetThuc }}
            </div>
          </div>
        </div>

        <div class="button-container">
          <button type="submit" class="button btn-primary">Thêm khuyến mãi</button>
        </div>
      </form>
    </div>
  </div>


  <div class="modal-overlay" *ngIf="showChonSanPham" (click)="closeChonSanPham()">
    <div class="modal-box-select" (click)="$event.stopPropagation()">
      <p class="title">Chọn Sản Phẩm</p>
      <div class="search-container" style="margin-top: -70px;margin-left: 10px;">
        <p>Tìm Kiếm:</p>
        <input type="text" class="input search-input" placeholder="Nhập tên sản phẩm cần tìm..."
          [(ngModel)]="searchText" (ngModelChange)="searchSanPham()" />
      </div>
      <div class="table-scrollable-select">
        <table class="product-table-select">
          <thead>
            <tr>
              <th>Chọn</th>
              <th>Mã Sản Phẩm</th>
              <th>Tên Sản Phẩm</th>
              <th>Màu Sắc</th>
              <th>Kích Cỡ</th>
              <th>Giá</th>
              <th>Số Lượng</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sanpham of sanPham">
              <td>
                <!-- Checkbox xuất hiện nếu sản phẩm không bị disabled -->
                <input type="checkbox" [(ngModel)]="sanpham.selected" />
              </td>
              <td>{{ sanpham.ma }}</td>
              <td>{{ sanpham.sanPhamTen }}</td>
              <td>{{ sanpham.mauSacTen }}</td>
              <td>{{ sanpham.sizeTen }}</td>
              <td>{{ sanpham.gia }}</td>
              <td>{{ sanpham.soLuong }}</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="button-container-select">
        <button class="button btn-primary" (click)="luuSanPham()">Lưu</button>
        <button class="button btn-secondary" (click)="closeChonSanPham()">Đóng</button>
      </div>
    </div>
  </div>