<div class="hoa-don">
  <h2 style="color: #294764; font-weight: bold; font-size: 18px;">
    Quản lý hóa đơn
  </h2>
  <!-- Phần tìm kiếm -->
  <div class="tim-kiem">
    <p style="color: #294764; font-weight: bold; font-size: 14px;">Tìm kiếm</p>
    <div class="input-row">
      <div class="bor">
        <div class="input-field">
          <label class="label-date">Ngày tạo</label>
          <div class="form-date" style="width: 250px;">
            <input type="date" class="input" id="createdFromDate" [(ngModel)]="searchRequest.ngayTaoFrom"
                   (change)="search()">
            <input type="date" class="input" id="createdToDate" [(ngModel)]="searchRequest.ngayTaoTo"
                   (change)="search()">
          </div>
        </div>
      </div>
      <div class="input-field">
        <label for="customerPhone">Số điện thoại khách hàng</label>
        <input type="text" id="customerPhone" class="input" placeholder="Nhập số điện thoại..." style="width: 250px;"
               [(ngModel)]="searchRequest.sdtNguoiNhan" (input)="search()">
      </div>
      <div class="input-field">
        <label for="trangThai">Trạng thái</label>
        <div class="status-select-container">
          <div class="status-select" (click)="toggleStatusDropdown()">
            <span class="selected-status">
              {{ getSelectedStatusText() }}
            </span>
            <i class="bi bi-chevron-down"></i>
          </div>
          <div class="status-dropdown" *ngIf="showStatusDropdown">
            <div class="status-option" *ngFor="let status of statusOptions" 
                 (click)="selectStatus(status.value)">
              <span>{{ status.label }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="input-row">
      <div class="input-field">
        <label for="invoiceCode">Mã hóa đơn</label>
        <input style="width: 250px;" type="text" id="invoiceCode" class="input" placeholder="Nhập mã hóa đơn..."
               [(ngModel)]="searchRequest.maHoaDon" (input)="search()">
      </div>
      <div class="input-field">
        <label for="tenKhachHang">Tên khách hàng</label>
        <input style="width: 250px;" type="text" id="tenKhachHang" class="input" placeholder="Nhập tên khách hàng..."
               [(ngModel)]="searchRequest.tenKhachHang" (input)="search()">
      </div>
      <div class="input-field">
        <label for="tenNhanVien">Tên nhân viên</label>
        <input style="width: 250px;" type="text" id="tenNhanVien" class="input" placeholder="Nhập tên nhân viên..."
               [(ngModel)]="searchRequest.tenNhanVien" (input)="search()">
      </div>
      <!--      <div class="input-field">-->
      <!--        <label for="invoiceType">Loại hóa đơn</label>-->
      <!--        <select class="input" id="invoiceType" name="invoiceType" style="width: 250px;"-->
      <!--                [(ngModel)]="searchRequest.loaiHoaDon" (change)="search()">-->
      <!--          <option value="">Tất cả hóa đơn</option>-->
      <!--          <option value="1">Hóa đơn offline</option>-->
      <!--          <option value="0">Hóa đơn online</option>-->
      <!--        </select>-->
      <!--      </div>-->
    </div>
  </div>
  <!-- Bảng hiển thị hóa đơn -->
  <div class="table-don-off">
    <div class="table-wrapper">
      <table>
        <thead>
        <tr>
          <th>Mã hóa đơn</th>
          <th>Tên khách hàng</th>
          <th>Số điện thoại khách hàng</th>
          <th>Tên nhân viên</th>
          <th>Phương thức thanh toán</th>
          <th>Tiền trước voucher</th>
          <th>Tổng tiền thanh toán</th>
          <th>Ngày tạo</th>
          <th>Trạng thái</th>
          <th>Xem chi tiết</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let invoice of hoaDons.content; trackBy: trackById">
          <td>{{ invoice.maHoaDon }}</td>
          <td>{{ invoice.tenKhachHang }}</td>
          <td>{{ invoice.sdtNguoiNhan }}</td>
          <td>{{ invoice.tenNhanVien }}</td>
          <td>{{ getTenPhuongThucThanhToan(invoice.idPhuongThucThanhToan) }}</td>
          <td>{{ invoice.tongTienTruocVoucher | number:'1.0-0' }} VNĐ</td>
          <!-- <td>
              <span *ngIf="invoice.tenVoucher; else noVoucher">
                {{ invoice.tenVoucher }} (Giảm {{ invoice.giaTriGiam }}{{ invoice.hinhThucGiam ? ' %' : ' VNĐ' }})
              </span>
            <ng-template #noVoucher>Không</ng-template>
          </td> -->
          <td>{{ invoice.tongTienThanhToan | number:'1.0-0' }} VNĐ</td>
          <td>{{ invoice.ngayTao | date:'yyyy-MM-dd' }}</td>
          <td>
            <!-- Hiển thị nút trạng thái nếu trong danh sách có thể đổi -->
            <button
              *ngIf="isTrangThaiCoTheChuyen(invoice.trangThai)"
              (click)="doiTrangThai(invoice)"
              class="btn-doi-trang-thai"
            >
              {{ getTrangThaiText(invoice.trangThai) }}
            </button>

            <!-- Nếu không đổi được, chỉ hiển thị text -->
            <span *ngIf="!isTrangThaiCoTheChuyen(invoice.trangThai)">
              {{ getTrangThaiText(invoice.trangThai) }}
            </span>
          </td>

          <td>
            <button class="xem-chi-tiet" (click)="selectHoaDonChiTiet(invoice)">
              <i class="bi bi-eye-fill"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- Phân trang -->
    <div class="pagination">
      <button (click)="prevPage()" [disabled]="searchRequest.page <= 1">
        <i class="bi bi-chevron-double-left"></i>
      </button>
      <span>{{ searchRequest.page }} / {{ hoaDons.totalPages }}</span>
      <button (click)="nextPage()" [disabled]="searchRequest.page >= hoaDons.totalPages">
        <i class="bi bi-chevron-double-right"></i>
      </button>
    </div>
  </div>

<!-- Modal chi tiết (trống) -->
<div class="modal" *ngIf="showDetailPopup">
  <div class="modal-content">
    <!-- Nội dung trống -->
    <div class="modal-body">
      <div *ngIf="hoaDonData" class="invoice-container">
        <!-- Mã hóa đơn (Căn phải) -->
        <div class="invoice-header">
          <h3>Chi tiết Hóa Đơn</h3>
          <p class="invoice-code"><strong>Mã hóa đơn:</strong> {{ hoaDonData.ma }}</p>
          <p class="invoice-status"><strong>Trạng thái:</strong> {{ getTrangThaiText(hoaDonData.trangThai) }}</p>
        </div>

         <!-- Nếu trạng thái hóa đơn là 5 (Đơn hàng đã hủy), chỉ hiển thị thông báo này -->
         <div *ngIf="hoaDonData.trangThai == 5">
          <div class="cancelHoaDon">
            <p><i class="bi bi-x-circle"></i> Đơn hàng đã bị hủy</p>
            <small>{{ hoaDonData.ngayHoanThanh || '---' }}</small>
          </div>
        </div>

        <!-- Địa chỉ nhận hàng -->
        <section class="section">
          <h3>Thông tin khách hàng</h3>
          <p><strong>Tên khách hàng:</strong> {{ hoaDonData.tenNguoiNhan }}</p>
          <p><strong>Số điện thoại:</strong> {{ hoaDonData.sdtNguoiNhan }}</p>
          <!-- Chỉ hiển thị nếu địa chỉ khách hàng có dữ liệu -->
          <p *ngIf="hoaDonData.diaChiNhanHang"><strong>Địa chỉ:</strong> {{ hoaDonData.diaChiNhanHang }}</p>

        </section>

        <!-- Chi tiết hóa đơn -->
        <section class="section">

          <div *ngFor="let item of chiTietHoaDonData" class="invoice-details-item">
            <img [src]="'http://localhost:8080' + item.anhUrls" alt="{{ item.tenSanPham }}" />
            <div class="invoice-details-info">
              <p><strong>Tên Sản Phẩm:</strong> {{ item.tenSanPham }}</p>
              <p><strong>Đơn Giá:</strong> {{ item.donGia | number }}</p>
              <p><strong>Số Lượng:</strong> {{ item.soLuong }}</p>
              <p><strong>Thành Tiền:</strong> {{ item.donGia * item.soLuong | number }} VNĐ</p>
              <p><strong>Màu Sắc:</strong> {{ item.mauSac }}</p>
            </div>
          </div>
        </section>

        <!-- Chi tiết thanh toán -->
        <section class="section">
          <h3>Chi tiết thanh toán</h3>
          <p><strong>Tổng tiền trước voucher:</strong> {{ hoaDonData.tongTienTruocVoucher | number }} VNĐ</p>
          <!-- Điều kiện hiển thị voucher và giá trị giảm -->
          <div *ngIf="hoaDonData.voucher">
            <p><strong>Tên voucher:</strong> {{ hoaDonData.voucher?.ten }}</p>

            <!-- Hiển thị giá trị giảm nếu voucher giảm phần trăm -->
            <p *ngIf="hoaDonData.voucher?.hinhThucGiam === false"><strong>Giảm giá:</strong> {{ hoaDonData.voucher?.giaTriGiam
              + '%' }}</p>

            <!-- Hiển thị giá trị giảm nếu voucher giảm tiền -->
            <p *ngIf="hoaDonData.voucher?.hinhThucGiam === true"><strong>Giảm giá:</strong> {{ hoaDonData.voucher?.giaTriGiam
              + ' VND' }}</p>

            <!-- Ẩn "Giảm tối đa" nếu giảm tiền -->
            <p *ngIf="hoaDonData.voucher?.hinhThucGiam === false"><strong>Giảm tối đa:</strong> {{
              hoaDonData.voucher?.giamToiDa }} VNĐ</p>
          </div>

            <!-- Chỉ hiển thị nếu trạng thái = 5 -->
            <p *ngIf="hoaDonData?.trangThai === 5 && hoaDonData?.ghiChu">
              <strong>Lý do hủy:</strong> {{ hoaDonData.ghiChu }}
            </p>

          <!-- Nếu không có voucher thì không hiển thị thông tin voucher -->
          <p *ngIf="!hoaDonData.voucher"><strong>Hóa đơn không áp dụng voucher</strong></p>
          <p><strong>Phương thức thanh toán:</strong> {{ hoaDonData.phuongThucThanhToan?.ten }}</p>
          <p *ngIf="hoaDonData.phiVanChuyen && hoaDonData.phiVanChuyen > 0">
            <strong>Phí vận chuyển:</strong> {{ hoaDonData.phiVanChuyen | number }} VNĐ
          </p>          
          <p><strong>Tổng tiền thanh toán:</strong> {{ hoaDonData.tongTienThanhToan | number }} VNĐ</p>
        </section>

        <!-- Nút Hủy và Nút Quay Về Trang Chủ -->
        <button *ngIf="!([5,6,7].includes(hoaDonData.trangThai))" (click)="openCancelModal()" class="btn btn-danger">
          Hủy Hóa Đơn
        </button>
        

          <!-- Modal nhập lý do hủy -->
          <div class="modal-overlay-huy" *ngIf="showCancelModal">
            <div class="modal-huy">
              <h4>Nhập lý do hủy hóa đơn</h4>
              <textarea [(ngModel)]="ghiChu" rows="4" placeholder="Nhập lý do..."></textarea>
              <div class="modal-buttons">
                <button class="btn btn-secondary" (click)="closeCancelModal()">Hủy</button>
                <button class="btn btn-danger" (click)="cancelHoaDon(hoaDonData.ma)">Xác nhận hủy</button>
              </div>
            </div>
          </div>
          <button (click)="goHome()" class="btn btn-primary">Đóng</button>
        </div>
      </div>
    </div>
  </div>
</div>
