

<div  class="container">
  <a class="back" href="" (click)="goHome()"><i class="bi bi-box-arrow-left"></i> Trở lại</a>
  <div class="status-filter-container">
    <div class="status-filter">
      <button 
        *ngFor="let status of statuses"
        [ngClass]="{'active': selectedStatus === status.value}"
        (click)="filterByStatus(status.value)">
        {{ status.label }}
      </button>
    </div>
  </div>
  <ul class="hoa-don-list" >
    <li *ngFor="let item of hoaDonChiTiet" class="hoa-don-item"  (click)="viewInvoiceDetail(item.maHoaDon)">
        <div class="anh">
          <img [src]="'http://localhost:8080' + item.anhUrl" alt="{{ item.tenSanPham }}" class="product-image"/>
        </div>
        <div class="hoa-don-info">
          <p><strong>Mã hóa đơn:</strong> {{ item.maHoaDon }}</p>
          <p><strong>Tên người nhận:</strong> {{ item.tenNguoiNhan }} (+84 | {{item.sdtNguoiNhan}})</p>
          <p><strong>Địa chỉ nhận hàng:</strong> {{ item.diaChiNhanHang}}</p>
          <p><strong>Số lượng sản phẩm:</strong> {{ item.soLuong }}</p>
          <p><strong>Tổng tiền thanh toán:</strong> {{item.tongTienThanhToan}} VND</p>
        </div>
        <p class="trang-thai">{{ getTrangThaiText(item.trangThai) }}</p> <!-- Sử dụng hàm ánh xạ trạng thái -->
    </li>
  </ul>
</div>


