<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened>
    <div class="sidebar-header">
      <img src="https://media.licdn.com/dms/image/v2/D4D0BAQG4-oyhJObyeQ/company-logo_200_200/company-logo_200_200/0/1692049150669/dream_store_brinquedos_logo?e=2147483647&v=beta&t=tMKRIMyWlenH5Iv1wIijIfCBTSAuiZ6FAW9vWR5M0Cs"
           alt="Logo Cửa Hàng" class="logo">
    </div>
    <nav>
      <a mat-button routerLink="/layout/banhang" routerLinkActive="active-link">
        <mat-icon>shopping_cart</mat-icon>
        Bán Hàng
      </a>
      <a mat-button routerLink="/layout/hoadon" routerLinkActive="active-link">
        <mat-icon>receipt_long</mat-icon>
        Hoá Đơn
      </a>
      <a mat-button routerLink="/layout/donhang" routerLinkActive="active-link">
        <mat-icon>receipt_long</mat-icon>
        Đơn Hàng
      </a>
      <a mat-button routerLink="/layout/sanpham" routerLinkActive="active-link">
        <mat-icon>inventory</mat-icon>
        Sản Phẩm
      </a>
      <a mat-button routerLink="/layout/voucher" routerLinkActive="active-link">
        <mat-icon>card_giftcard</mat-icon>
        Voucher
      </a>
      <a mat-button routerLink="/layout/khuyenmai" routerLinkActive="active-link">
        <mat-icon>local_offer</mat-icon>
        Khuyến Mãi
      </a>
      <a mat-button routerLink="/layout/khachhang" routerLinkActive="active-link">
        <mat-icon>people</mat-icon>
        Khách Hàng
      </a>
      <a mat-button routerLink="/layout/nhanvien" routerLinkActive="active-link">
        <mat-icon>person</mat-icon>
        Nhân Viên
      </a>
      <a mat-button routerLink="/layout/thongke" routerLinkActive="active-link">
        <mat-icon>bar_chart</mat-icon>
        Thống Kê
      </a>
      <a mat-button (click)="confirmLogout()">
        <mat-icon>exit_to_app</mat-icon>
        Đăng Xuất
      </a>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
