<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened>
    <div class="sidebar-header">
      <img src="https://media.licdn.com/dms/image/v2/D4D0BAQG4-oyhJObyeQ/company-logo_200_200/company-logo_200_200/0/1692049150669/dream_store_brinquedos_logo?e=2147483647&v=beta&t=tMKRIMyWlenH5Iv1wIijIfCBTSAuiZ6FAW9vWR5M0Cs"
           alt="Logo Cửa Hàng" class="logo">
    </div>
    <nav>
      <a mat-button routerLink="/layout/banhang" routerLinkActive="active-link">
        <i class="bi bi-cart-check-fill"></i>
        Bán Hàng
      </a>
      <a mat-button routerLink="/layout/hoadon" routerLinkActive="active-link">
        <i class="bi bi-receipt-cutoff"></i>
        Hoá Đơn
      </a>
      <a mat-button routerLink="/layout/donhang" routerLinkActive="active-link">
        <i class="bi bi-basket-fill"></i>
        Đơn Hàng
      </a>
      <a mat-button routerLink="/layout/sanpham" routerLinkActive="active-link">
        <i class="bi bi-box"></i> 
        Sản Phẩm
      </a>
      <a mat-button routerLink="/layout/voucher" routerLinkActive="active-link">
        <i class="bi bi-gift"></i>
        Voucher
      </a>
      <a mat-button routerLink="/layout/khuyenmai" routerLinkActive="active-link">
        <i class="bi bi-tag"></i>
        Khuyến Mãi
      </a>
      <a mat-button routerLink="/layout/khachhang" routerLinkActive="active-link">
        <i class="bi bi-person"></i> 
        Khách Hàng
      </a>
      <a mat-button (click)="accessNhanVien()">
        <i class="bi bi-person"></i> 
        Nhân Viên
      </a>      
      <a mat-button (click)="accessThongKe()">
        <i class="bi bi-bar-chart"></i>
        Thống Kê
      </a>
      <a mat-button (click)="confirmLogout()">
        <i class="bi bi-box-arrow-right"></i>
        Đăng Xuất
      </a>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>

  <div *ngIf="showModal" class="modal-overlay">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Danh sách Nhân Viên</h2>
        </div>

        <div class="table-container">
          <table class="product-table">
            <thead>
              <tr>
                <th>Mã nhân viên</th>
                <th>Tên nhân viên</th>
                <th>Hoạt động</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let nhanvien of nhanViens"  [class.selected]="nhanvien.id === selectedNhanVienId">
                <td>{{ nhanvien.ma }}</td>
                <td>{{ nhanvien.ten }}</td>
                <td>
                  <button (click)="onSelectNhanVien(nhanvien.id)" class="button btn-primary">Chọn</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="modal-footer">
          <button mat-button (click)="xacNhanBanGiaoVaDangXuat()"  style="color:white;" class="btn-logout">Đăng xuất</button>
          <button mat-button (click)="closeModal()" style="color:white;" class="btn-close">Đóng</button>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>