<div *ngIf="hoaDonData; else noData" class="invoice-container">
  <!-- Mã hóa đơn (Căn phải) -->
  <div class="invoice-header">
    <h3>Chi tiết đơn hàng</h3>
    <p class="invoice-code"><strong>Mã đơn hàng:</strong> {{ hoaDonData.ma }}</p>
  </div>

  <!-- Nếu trạng thái hóa đơn là 5 (Đơn hàng đã hủy), chỉ hiển thị thông báo này -->
  <div *ngIf="hoaDonData.trangThai == 9">
    <div class="cancelHoaDon">
      <p><i class="bi bi-x-circle"></i> Đơn hàng đã bị hủy</p>
      <p *ngIf="hoaDonData?.trangThai === 9 && hoaDonData?.ghiChu" style="font-size: 15px;color: black;">
        (Lý do hủy đơn: {{ hoaDonData.ghiChu }})
      </p>
    </div>
  </div>

  <div class="status-tracker" *ngIf="hoaDonData.trangThai != 9">
    <div class="status-step" [class.active]="hoaDonData.trangThai == 1" style="margin-top: 20px;">
      <div class="status-icon">📄</div>
      <p>Chờ xác nhận</p>
      <span style="margin-top: 4px; font-size: 0.8rem; color: gray;">{{hoaDonData.ngayTao}}</span>
    </div>

    <div class="status-line" [class.active]="hoaDonData.trangThai == 2"></div>
    <div class="status-step" [class.active]="hoaDonData.trangThai == 2">
      <div class="status-icon">✔️</div>
      <p>Đã được xác nhận</p>
    </div>

    <div class="status-line" [class.active]="hoaDonData.trangThai == 3"></div>
    <div class="status-step" [class.active]="hoaDonData.trangThai == 3">
      <div class="status-icon">⏳</div>
      <p>Chờ lấy hàng</p>
    </div>

    <div class="status-line" [class.active]="hoaDonData.trangThai == 4"></div>
    <div class="status-step" [class.active]="hoaDonData.trangThai == 4">
      <div class="status-icon">🚚</div>
      <p>Đang giao hàng</p>
    </div>

    <div class="status-line" [class.active]="hoaDonData.trangThai == 5"></div>
    <div class="status-step" [class.active]="hoaDonData.trangThai == 5" style="margin-top: 10px;">
      <div class="status-icon">📦</div>
      <p>Giao hàng thành công</p>
      <span style="margin-top: 4px; font-size: 0.8rem; color: gray;">{{hoaDonData.ngaySua}}</span>
    </div>
  </div>


  <!-- Địa chỉ nhận hàng -->
  <section class="section" style="margin-top: 30px;">
    <h3>Thông tin khách hàng</h3>
    <p><strong>Tên người nhận:</strong> {{ hoaDonData.tenNguoiNhan }}</p>
    <p><strong>Số điện thoại: </strong>{{ hoaDonData.sdtNguoiNhan }}</p>
    <!-- Chỉ hiển thị nếu địa chỉ khách hàng có dữ liệu -->
    <p *ngIf="hoaDonData.diaChiNhanHang"><strong>Địa chỉ:</strong> {{ hoaDonData.diaChiNhanHang }}</p>

  </section>

  <!-- Chi tiết hóa đơn -->
  <section class="section">
    <div *ngFor="let item of hoaDonChiTietData" class="invoice-details-item">
      <img [src]="'http://localhost:8080' + item.anhUrls" alt="{{ item.tenSanPham }}" />
      <div class="invoice-details-info">
        <p><strong>Tên Sản Phẩm:</strong> {{ item.tenSanPham }} ({{item.maSanPham}})</p>
        <p><strong>Phân loại hàng: </strong>({{ item.mauSac }} / {{item.size}})</p>
        <p><strong>Đơn Giá:</strong> {{ item.donGia | number }} VND (x{{ item.soLuong }})</p>

        <p></p>
        <p><strong>Thành Tiền:</strong> {{ item.donGia * item.soLuong | number }} VND</p>
      </div>
    </div>
  </section>

  <!-- Chi tiết thanh toán -->
  <section class="section">
    <p><strong>Tạm tính:</strong> {{ hoaDonData.tongTienTruocVoucher | number }} VND</p>
    <!-- Điều kiện hiển thị voucher và giá trị giảm -->
    <div *ngIf="hoaDonData.voucher">
      <p>
        <strong>Tên voucher:</strong> {{ hoaDonData.voucher?.ten }}

        <!-- Hiện nếu giảm % và không vượt giảm tối đa -->
        <span *ngIf="showGiamPhanTram">
          (Giảm: {{ hoaDonData.voucher?.giaTriGiam }}%)
        </span>

        <!-- Hiện nếu giảm % nhưng vượt quá mức giảm tối đa -->
        <span *ngIf="showGiamToiDa">
          (Giảm tối đa: {{ hoaDonData.voucher?.giamToiDa | number }} VND)
        </span>

        <!-- Hiện nếu giảm bằng số tiền -->
        <span *ngIf="hoaDonData.voucher?.hinhThucGiam === true">
          (Giảm: {{ hoaDonData.voucher?.giaTriGiam | number }} VND)
        </span>
      </p>
    </div>

    <!-- Nếu không có voucher thì không hiển thị thông tin voucher -->
    <p *ngIf="!hoaDonData.voucher"><strong>Hóa đơn không áp dụng voucher</strong></p>
    <p><strong>Phương thức thanh toán:</strong> {{ hoaDonData.phuongThucThanhToan?.ten }}</p>
    <p *ngIf="hoaDonData.phiVanChuyen && hoaDonData.phiVanChuyen > 0">
      <strong>Phí vận chuyển:</strong> {{ hoaDonData.phiVanChuyen | number }} VND
    </p>
    <p><strong>Tổng tiền thanh toán:</strong> {{ hoaDonData.tongTienThanhToan | number }} VND</p>
  </section>

  <!-- Nút Hủy và Nút Quay Về Trang Chủ -->
  <div class="button-container">
    <!-- Nút hủy -->
    <button *ngIf="!([2,3,4,5,9].includes(hoaDonData.trangThai))" (click)="openCancelModal()" class="btn-danger">
      Hủy đơn hàng
    </button>

    <!-- Modal nhập lý do hủy -->
    <div class="modal-overlay-huy" *ngIf="showCancelModal">
      <div class="modal-huy">
        <h4>Nhập lý do hủy đơn hàng</h4>
        <textarea [(ngModel)]="ghiChu" rows="4" placeholder="Nhập lý do..."></textarea>
        <div class="modal-buttons">
          <button class="btn btn-danger" (click)="huyHoaDon()">Xác nhận hủy</button>
          <button class="btn btn-secondary" (click)="closeCancelModal()">Hủy</button>
        </div>
      </div>
    </div>
    <button (click)="goHome()" class="btn btn-primary">Về Trang Chủ</button>
  </div>
</div>



<!-- Nếu chưa có dữ liệu -->
<ng-template #noData>
  <!-- <p>Chưa có dữ liệu hóa đơn để hiển thị.</p> -->
</ng-template>